
/* body {
  width: 90%;
  max-width: 900px;
  margin: 2em auto;
  /* font: .9em/1.2 Arial, Helvetica, sans-serif; 
} */

.container > div {
  align-content: center;
  display: flex;
  justify-content: center;
  border-radius: 5px;
  padding: 10px;
  background-color: black;
  border: 2px solid rgb(11, 28, 129);
  height: 70px;
}

.container {
  display: grid;
  grid-template-columns: 70px 70px 70px 70px 70px;
}

.smallContainer > div {
  align-content: center;
  display: flex;
  justify-content: center;
  border-radius: 1px;
  padding: 1px;
  background-color: rgb(48, 16, 108);
  border: 2px solid rgb(11, 28, 129);
  height: 15px;
}


.smallContainer {
  display: grid;
  grid-template-columns: 15px 15px 15px 15px 15px 15px 15px 15px 15px 15px;
}