.app {
  display: flex;
  justify-content: center;
}
.dm {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 600px;
  width: 800px;
  border:5px;
  background-color: black;
  color:antiquewhite;
  opacity: 50%;
}
#dm {
  text-align: center;
  margin: 15px;
  width: 75%;
  border:5px black solid;

}