.container {
  
  display: grid;
  grid-template-columns: 70px 70px 70px 70px 70px 70px 70px 70px 70px 70px;
}
.container > div {
  align-content: center;
  display: flex;
  justify-content: center;
  border-radius: 5px;
  padding: 10px;
  background-color: rgb(48, 163, 108);
  border: 2px solid rgb(11, 28, 129);
  height: 70px;
}